<div class="register-container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="navigation-header">
      <div>
        <a href="/">
          <img class="arrow-left" src="https://budget-app-003.herokuapp.com/assets/back-c280a48ad5854403fd742c6c71f80ff505caec9ff3e28f61dc6a02a1dfbfd30c.svg">
        </a>
      </div>
      <h4 class="register-title">REGISTER</h4>
      <div class="actions">
        <% f.submit 'Sign up', class: 'sign-up-form-btn' %>
      </div>
    </div>

    <div class="field"> 
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Full name", class: "reg-input" %>
    </div>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "reg-input" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "reg-input" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm password", class: "reg-input" %>
    </div>
  <% end %>

  <div class="btn-container reg-btn-container">
    <%= render "devise/shared/links" %>
  </div>
</div>
