<div class="register-container">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="navigation-header">
      <div>
        <a href="/">
          <img class="arrow-left" src="https://budget-app-003.herokuapp.com/assets/back-c280a48ad5854403fd742c6c71f80ff505caec9ff3e28f61dc6a02a1dfbfd30c.svg">
        </a>
      </div>
      <div class="actions">
        <%= f.submit 'Change my password', class: 'sign-up-form-btn' %>
      </div>
    </div>

    <div class="field">
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: 'New password', class: "reg-input" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirm new password', class: "reg-input" %>
    </div>
  <% end %>

  <div class="btn-container reg-btn-container">
    <%= render "devise/shared/links" %>
  </div>
</div>
