<a href="<%= "#{categories_path}/#{category.id}" %>" class="category-link" >
  <div id="<%= dom_id category %>" class="category-container" >
    <div class="icon-container">
      <%= image_tag category.icon, alt: "rss feed", class: "category-icon" %>
      <%= category.name %>
    </div>

    <div><%= category.user.name %></div>

    <div>
      Total: $<%= category.payments.inject(0){ |sum, payment| sum + payment.amount } %>
    </div>
  </div>
</a>
